<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <% if(user){ %>
                <nav>
                    <a href="/users/logout">
                      <button>Log-Out</button>
                    </a>
                    <h1>
                      <a href="/articles">
                        My Blogs
                      </a>
                    </h1>
                    <h2 style="color: antiquewhite;">
                      Welcome <%= user.firstName + " " + user.lastName%>
                    </h2>
                    <a href="/articles/new">
                      <button>Create Article</button>
                    </a>
                  </nav>
            <% } else { %>
                <nav>
                    <a href="/users/register">
                      <button>Register</button>
                    </a>
                    <h1>
                      <a href="/articles">
                        My Blogs
                      </a>
                    </h1>
                    <a href="/users/login">
                      <button>Login</button>
                    </a>
                  </nav>
            <% }%>
          
          
        </div>
      </header>