<%- include('partials/header') -%>

      <main>
        <div class="hero-form">
            <div class="container">
                <form class="form" action="/articles/<%= article.slug%>" method="POST">
                    <div>
                        Title:
                        <input type="text" name="title" value="<%= article.title%>">
                    </div>
                    <div>
                        Description:
                        <textarea name="description" id="" cols="30" rows="10"><%= article.description%></textarea>
                    </div>
                    <div>
                        <button type="submit">Update Article</button>
                    </div>
                </form>
            </div>
        </div>
      </main>
</body>
</html>