<%- include('partials/header') -%>

    <main>
      <div class="hero">
        <div class="container">
          <h2>Welcome to <%= title %></h2>
          <a href="/articles">
            <button>Show Articles</button>
          </a>
        </div>
      </div>

    </main>
  </body>
</html>
